:root {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}